@charset "utf-8";
/* collab.css - 콜라보 css */

/* 파일 merging(합치기) */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

.cont_wrap{
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

.cont_wrap .left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cont_wrap .right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.cont_wrap_wrap{
    height: 100%;
}

/* 콜라보 영역 왼쪽 */

.collab_img_wrap{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60%;
}

.collab_img_wrap img{
    width: 50%;
}

.collab_txt_wrap{
    padding-top: 5%;
    width: 100%;
    text-align: center;
    height: 40%;
    margin: 0 auto;
}

.collab_link{
    display: block;
    font-family: 'NanumSquare', sans-serif;
    border: 1px solid #000;
    border-radius: 50px;
    width: 20%;
    margin: 3% auto 0 auto;
    padding: 1% 0;
    transition: .4s;
    font-size: 12px;
}

.collab_link:hover{
    background-color: #000;
    color: #fff;
}


/* 콜라보 영역 오른쪽 */
.product_swiper{
    width: 80%;
}

.product_swiper img{
    width: 60%;
    display: block;
    margin: 0 auto;
}

/* 콜라보 선택 */
.select_collab_wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.select_collab_area {
    cursor: pointer;
}

.select_collab {
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 3px;
    border-radius: 50% 50%;
    margin: 0 auto;
}

.select_collab_area:last-child {
    margin: 0;
}

.select_collab.active {
    border: 1px dashed #000;
}

.select_collab img {
    width: 100%;
    border-radius: 50% 50%;
}

.select_collab_text {
    font-size: 12px;
    margin-top: 3px;
}


@media only screen and (max-width:1280px) {
    .mob_swiper{
        padding: 0 5%;
    }

}

@media only screen and (max-width:1024px) {
    .mob_swiper{
        margin-top: 15%;
    }

    .cont_wrap_wrap{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        width: auto !important;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        right: 0;
        transform: scale(.5);
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 0;
        transform: scale(.5);
    }

    .cont_wrap{
        height: 50%;
    }
}

@media only screen and (max-width:800px) {
    .mob_swiper{
        margin-top: 10%;
    }

    .collab .inbox{
        display: flex;
        flex-wrap: wrap;
    }

    .select_collab{
        width: 35px;
        height: 35px;
    }

    .select_collab_text{
        font-size: 9px;
        line-height: 1;
    }
    .cont_wrap{
        width: 100%;
    }

    .cont_title{
        line-height: 1.2;
    }

    .cont_wrap .left, .cont_wrap .right{
        width: 100%;
    }

    .cont_wrap .right{
        margin: 10% 0;
    }

    .collab_img_wrap, .collab_txt_wrap{
        height: auto;
    }

    .collab_img_wrap{
        margin-top: 10%;
    }

    .collab_txt_wrap{
        font-size: 12px;
    }

    .collab_link{
        width: 100%;
        color:#fff;
        background-color: #000;
        margin: 10% 0;
    }

    .product_swiper{
        width: 100%;
    }
}
