@charset "utf-8";
/* gallery .css - 갤러리 페이지 css */

/* 파일 merging(합치기) */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


.gallery {
    overflow: hidden;
}

.lightbox{
    z-index: 1000000000 !important;
}
/******************* 중앙 텍스트 *******************/
#text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 200;
    font-size: 30vmin;
    color: #333;
    z-index: 1;
    cursor: default;
}

#text:hover{
    z-index: 0;
}

.move_wheel{
    position: fixed;
    left: 50%;
    bottom: 7%;
    transform: translateX(-50%);
    color: #333;
    z-index: 5;
    cursor: default;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.mouse_box{
    position: fixed;
    right: -50%;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse{
    display: block;
    width: 27%;
    height: 45%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50px;
}

.scroll{
    display: flex;
    top: 32%;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    width: 4%;
    height: 10%;
    background-color: #fff;
    border-radius: 50px;
    animation: move 1s infinite;
}


@keyframes move{
    to{
        top: 35%;
        opacity: 0;
    }
}
/********************** 사진 *****************/
#photo {
    height: 100%;
    display: flex;
    align-items: center;
}

#photo li{
    position: relative;
    padding: 0 5%;
    transition: all 0.4s ease-out;
}

#photo li a{
    display: block;
}

#photo img {
    width: 50vmin;
    display: block;
}

#photo li:hover {
    transform: scale(1.02);
    
    z-index: 3;
}

#photo li:nth-child(3n){
    z-index: 3;
}

#footer{
    display: none;
}

.berlin .galimg12{
    transform: scale(0.8);
}

.berlin .galimg12:hover{
    transform: scale(0.82) !important;
}

/****************** 미디어쿼리 ******************/
@media only screen and (max-width:1024px) {
    #photo {
        top: 10vmin;
    }
}

/* 미디어쿼리 1024 */


@media only screen and (max-width:800px) {
    #footer{
        display: block;
    }

    #photo {
        top: 0;
    }

    #text {
        display: none;
    }
    
    #photo{
        padding-top: 20vmin;
        width: 100%; 
        height: auto;
        flex-wrap: wrap;
    }
    
    #photo li {
        position: static;
        transform: scale(1);
        top: auto;
        left: auto;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10vmin;
        box-shadow: 0 0 0;
    }

    #photo img:hover {
        transform: scale(1);
    }

    #photo img {
        width: 80vmin;
        box-shadow: none;
    }

    .move_wheel{
        display: none;
    }
}

/* 미디어쿼리 500 */

/************* 갤러리 리스트  ***********************************************************************************************************************************************/
.gallery_wrap{
    display: flex;
    position: relative;
    height: 100%;
}

.gallery_area{
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
}

.gallery_wrap ul{
    width: 50%;
}

.gallery_list_wrap{
    padding-left: 10%;
}

.gallery_list_wrap li{
    width: 100%;
    font-size: 3vmin;
    font-weight: 500;
    line-height: 2;
}

.gallery_info_tit{
    font-size: 3vmin;
    font-weight: 500;
    line-height: 2;
}


.gallery_list_info_wrap img{
    width: 100%;
}

@media only screen and (max-width:800px) {
    #wrap.gallery{
        height:auto;
    }

    .gallery_area{
        width: 70%;
    }

    .gallery_wrap ul{
        width: 100%;
        padding-bottom: 10%;
    }

    .gallery_list_wrap{
        display: none;
    }

    .gallery_list_info_wrap li{
        margin-bottom: 20%;
    }

    .gallery_info_tit{
        font-size: 16px;
    }
}